<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DS.fun - Minceraft ⛏️</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../logo.png" class="logo-img">
        </div>
        <section class="search-bar">
            <input type="text" placeholder="Buscar jogos..." id="searchInput">
            <button onclick="searchGames()">Buscar</button>
        </section>
        <nav>
            <ul>
                <li><a href="../index.html" class="navegacao">Início</a></li>
                <li><a href="#" class="navegacao">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main style="background-color: #212121;">
        <iframe src="https://sd592g.github.io/zj684od4lfg/" width="75%" height="555px" style="border: 2px solid #000; margin: 0 auto; display: flex;"></iframe>
    </main>

    <footer style="margin-top: 0px;">
        <p>© 2024 DS.fun - Todos os direitos reservados</p>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>
